<body>
  <mat-toolbar color = "primary" class = "toolbar"> Veículos </mat-toolbar>
  <div class = "table">

    <table mat-table [dataSource] = "veiculos$" class="mat-elevation-z8">
      <ng-container matColumnDef="id_veiculo">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let veiculo"> {{veiculo.id_veiculo}} </td>
      </ng-container>

      <ng-container matColumnDef="id_apartamento">
        <th mat-header-cell *matHeaderCellDef> Apartamento </th>
        <td mat-cell *matCellDef="let veiculo"> {{veiculo.id_apartamento}} </td>
      </ng-container>

      <ng-container matColumnDef="placa">
        <th mat-header-cell *matHeaderCellDef> Placa </th>
        <td mat-cell *matCellDef="let veiculo"> {{veiculo.placa}} </td>
      </ng-container>

      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef> Marca </th>
        <td mat-cell *matCellDef="let veiculo"> {{veiculo.marca}} </td>
      </ng-container>

      <ng-container matColumnDef="modelo">
        <th mat-header-cell *matHeaderCellDef> Modelo </th>
        <td mat-cell *matCellDef="let veiculo"> {{veiculo.modelo}} </td>
      </ng-container>

      <ng-container matColumnDef="cor">
        <th mat-header-cell *matHeaderCellDef> Cor </th>
        <td mat-cell *matCellDef="let veiculo"> {{veiculo.cor}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <footer>
    <button mat-mini-fab color = "primary" aria-label="Editar" class = "button">
      <mat-icon>edit</mat-icon>
    </button>

    <button mat-mini-fab color = "primary" aria-label="Adicionar" class = "button">
      <mat-icon routerLink="/cadastro/funcionarioes">add</mat-icon>
    </button>

    <button mat-mini-fab color = "warn" aria-label="Excluir" class = "button">
      <mat-icon>delete</mat-icon>
    </button>

      <button mat-mini-fab color = "primary" aria-label="Excluir" class = "button">
      <mat-icon routerLink="/home">home</mat-icon>
    </button>
  </footer>
</body>
