.table {
  margin: 0 auto 2.5% auto;
  overflow-x: scroll;
  width: 75%;
}

.toolbar {
  margin: 2.5% auto 0 auto;
  width:75%
}

th, td {
  max-width: 300px;
  min-width: 300px;
}

footer {
  text-align: center;
}

.button{
  margin: 0 0.75%;
  transition: 1.5s;
}
