.toolbar{
  height: 75px;
}

.toolbar h1{
  font-size: 26px;
}

.toolbar h2{
  color: #26C6DA;
  font-size: 20px;
  margin-left: 1em;
}

.menu{
  text-align: center;
}

.menu-button{
  background: transparent;
  border: 2.5px solid transparent;
  border-radius: 3px;
  color: #5C6BC0;
  font-size: 14px;
  font-weight: bold;
  margin: 1.5% 3%;
  padding: 1.5%;
  width: 10%;
}

.menu-button:hover{
  border-bottom: 2.5px solid #26C6DA;
}

.menu-button:focus{
  border-bottom: 2.5px solid #26C6DA;
}
