<body>

  <header>

    <mat-toolbar color = "primary" class = "toolbar">
      <h1>New Life</h1>
      <h2>Sistema de Gerenciamento de Acesso</h2>
    </mat-toolbar>

    <div class = "menu">
      <button color="primary" routerLink = "/cadastro/moradores" class = "menu-button">Morador</button>
      <button color="primary" routerLink = "/cadastro/veiculos" class = "menu-button">Veículo</button>
      <button color="primary" routerLink = "/cadastro/visitantes" class = "menu-button">Visitante</button>
      <button color="primary" routerLink = "/cadastro/funcionarios" class = "menu-button">Funcionário</button>
    </div>

  </header>

  <router-outlet></router-outlet>

</body>
