.toolbar{
  height: 75px;
}

.toolbar h1{
  font-size: 26px;
}

.toolbar h2{
  color: #26C6DA;
  font-size: 20px;
  margin-left: 1em;
}

.card{
  border-radius: 0;
  height: 50px;
}

.card h3{
  font-size: 16px;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.form{
  text-align: center;
}

.form mat-form-field{
  margin: 3% 0.75% 0.75% 0;
}

.input-menor{
  width: 15%;
}

.input-maior{
  width: 35%;
}

.button{
  margin: 0 0.75%;
  transition: 1.5s;
  width: 7.5%;
}

#fechar{
  background: #26C6DA;
  color: white;
}

#consultar:hover{
  background: #3949AB;
}

#fechar:hover{
  background: #00ACC1;
}
